@import 'normalize.css';

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: white;
  font-weight: 400;
  line-height: 1.45;
  height: 100%;
  max-height: 100%;
  font-family: 'Droid Serif', serif;
  font-size: 2.0rem;
  line-height: 1.6em;
  color: #3A4145;
}

h1, h2, h3,
h4, h5, h6 {
    text-rendering: optimizeLegibility;
    line-height: 1;
    margin-top: 0;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 5rem;
    line-height: 1.2em;
    letter-spacing: -2px;
    text-indent: -3px;
}

h2 {
    font-size: 4rem;
    line-height: 1.2em;
    letter-spacing: -1px;
    text-indent: -2px;
}

h3 {
    font-size: 3.5rem;
}

h4 {
    font-size: 3rem;
}

h5 {
    font-size: 2.5rem;
}

h6 {
    font-size: 2rem;
}

a {
  color: #4a4a4a;
  transition: color ease 0.3s;

  &:hover {
    color: #57A3E8;
  }
}

h1 a, h2 a, h3 a,
h4 a, h5 a, h6 a {
    color: #50585D;
}


p, ul, ol {
    margin: 1.6em 0;
}

ol ol, ul ul,
ul ol, ol ul {
    margin: 0.4em 0;
}

.title {
  text-align: center;
  margin: 0.67em 0;

  a {
    text-decoration: none;
  }

  .tag {
    &:hover {

    }
  }
}

.refresh {
  text-align: center;

  a {
    color: #FFF;
    text-decoration: none;
    padding: 0.3em;
    background-color: #AA6439;

    &:hover {
      background-color: #57A3E8;
    }
  }
}

.row {
  width: 100%;
  margin: 2em auto;
}

.row {
  column-count: 1;
  column-gap: 0;
  column-width: 96%;
}

.photo-box {
  margin: 0.5em 0;
  padding: 0 0.5em;
  border-bottom: 1px dashed #000;
  break-inside: avoid;

  &:first-child {
    margin-top: 0;
  }

  .content {
    margin: 0 0.2em 0.2em;
    overflow: hidden;


    h2 {
      margin: 0;
      font-size: 1.369em;
    }

    p {
      font-size: 1em; 
    }
  }

  img {
    width: 100%;
  }

  figcaption {
    width: 100%;
  }

  a {
    text-decoration: none;
    border-bottom: 1px dotted gray;
    color: #000;

    &:hover {
      color: #57A3E8;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      &:hover {
        background-color: #57A3E8;
      }

      a {
        color: #FFF;

        &:hover {
          color: #FFF;
        }
      }
    }
  }
}

.tag {
  color: #FFF;
  display: inline-block;
  margin: 0.1em;
  padding: 0.3em;
  background-color: #92adce;
}

@media screen and (min-width: 500px) {
  .row {
    column-count: 2;
    column-gap: 2%;
    column-width: 48%;
  }
}

@media screen and (min-width: 700px) {
  .row {
    column-count: 3;
    column-gap: 3%;
    column-width: 30%;
  }
}

@media screen and (min-width: 950px) {
  .row {
    column-count: 4;
    column-gap: 3%;
    column-width: 22%;
  }
}

@media screen and (min-width: 1200px) {
  .row {
    column-count: 5;
    column-gap: 3%;
    column-width: 17%;
  }
}

